<!doctype html>
<html class="no-js"  lang="en">

	<head>
		<!-- META DATA -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

		<!-- TITLE OF SITE -->
		<title>Imobiliárias</title>

		<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/assets/css/animate.css" />
		<link rel="stylesheet" href="/assets/css/hover-min.css">
		<link rel="stylesheet" href="/assets/css/datepicker.css" >
        <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css"/>
        <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" />
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/assets/css/bootsnav.css"/>
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/responsive.css" />

		

		<script src="/assets/js/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/bootsnav.js"></script>
		<script src="/assets/js/jquery.filterizr.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="/assets/js/jquery-ui.min.js"></script>
		<script src="/assets/js/jquery.counterup.min.js"></script>
		<script src="/assets/js/waypoints.min.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>
		<script src="/assets/js/jquery.sticky.js"></script>
        <script src="/assets/js/datepicker.js"></script>

		<!--Custom JS-->
		<script src="/assets/js/custom.js"></script>




		



	</head>

	<body>



		<!-- Barra de Nav -->
		<header class="top-area">
			<div class="header-area">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<div class="logo">
								<a href="index.html">
									<span>Imobiliárias</span>de<span>Minas</span>
								</a>
							</div><!-- /.logo-->
						</div><!-- /.col-->
						<div class="col-sm-10">
							<div class="main-menu">
							
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<i class="fa fa-bars"></i>
									</button><!-- / button-->
								</div><!-- /.navbar-header-->
								<div class="collapse navbar-collapse">		  
									<ul class="nav navbar-nav navbar-right">
										<li class="smooth-menu"><a >Financiamento</a></li>
										<li class="smooth-menu"><a >Corretores </a></li>

										<!-- <li class="smooth-menu"><a href="#blog">blog</a></li> -->
										<!-- <li class="smooth-menu"><a href="#subs">subscription</a></li> -->
										<li>
											<button class="book-btn">Contato</button>
										</li><!--/.project-btn--> 
									</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.main-menu-->
						</div><!-- /.col-->
					</div><!-- /.row -->
					<div class="home-border"></div><!-- /.home-border-->
				</div><!-- /.container-->
			</div><!-- /.header-area -->

		</header><!-- /.top-area-->
		<!-- main-menu End -->

		
		<!-- Banner inicial -->
		<section id="home" class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-us">
								<div class="about-us-txt">
									<!-- <h2>
										Explore the Beauty of the Beautiful World 

									</h2> -->
									<!-- <div class="about-btn">
										<button  class="about-view">
											Converse com um corretor
										</button> -->
									</div><!--/.about-btn-->
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-0">
							<div class="single-about-us">
								
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--fim do Banner inicial -->

		<!--travel-box start-->
		<section  class="travel-box">
        	<div class="container">
        		<div class="row">
        			<div class="col-md-12">
        				<div class="single-travel-boxes">
        					<div id="desc-tabs" class="desc-tabs">

									

								<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active fade in" id="tours">
				<div class="tab-para">
					<div class="row">

						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="single-tab-select-box">
							
								<h2>Cidade</h2>
								<div class="travel-select-icon">
									<select name="cidade" class="form-control" id="cidadeSelecionada">
										<option value="default">Todas as cidades</option><!-- /.option-->
										<option value="Manhuaçu">Manhuaçu</option><!-- /.option-->
										<option value="Simonesia">Simonésia</option><!-- /.option-->
										<option value="Caratinga">Caratinga</option><!-- /.option-->
									</select><!-- /.select-->
								</div><!-- /.travel-select-icon -->
								
							</div><!--/.single-tab-select-box-->
						</div><!--/.col-->

						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="single-tab-select-box">
							
								<h2>Bairro</h2>
								<div class="travel-select-icon">
									<select name="cidade" class="form-control" id="cidadeSelecionada">
										<option value="default">Todas as cidades</option><!-- /.option-->
										<option value="Manhuaçu">Manhuaçu</option><!-- /.option-->
										<option value="Simonesia">Simonésia</option><!-- /.option-->
										<option value="Caratinga">Caratinga</option><!-- /.option-->
									</select><!-- /.select-->
								</div><!-- /.travel-select-icon -->
								
							</div><!--/.single-tab-select-box-->
						</div><!--/.col-->

						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="single-tab-select-box">
							
								<h2>Quartos</h2>
								<div class="travel-select-icon">
									<select name="cidade" class="form-control" id="cidadeSelecionada">
										<option value="default">Todas as cidades</option><!-- /.option-->
										<option value="Manhuaçu">Manhuaçu</option><!-- /.option-->
										<option value="Simonesia">Simonésia</option><!-- /.option-->
										<option value="Caratinga">Caratinga</option><!-- /.option-->
									</select><!-- /.select-->
								</div><!-- /.travel-select-icon -->
								
							</div><!--/.single-tab-select-box-->
						</div><!--/.col-->

						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="single-tab-select-box">
							
								<h2>Vagas na Garagem</h2>
								<div class="travel-select-icon">
									<select name="cidade" class="form-control" id="cidadeSelecionada">
										<option value="default">Todas as cidades</option><!-- /.option-->
										<option value="Manhuaçu">Manhuaçu</option><!-- /.option-->
										<option value="Simonesia">Simonésia</option><!-- /.option-->
										<option value="Caratinga">Caratinga</option><!-- /.option-->
									</select><!-- /.select-->
								</div><!-- /.travel-select-icon -->
								
							</div><!--/.single-tab-select-box-->
						</div><!--/.col-->

						
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="single-tab-select-box">
							
								<h2>Comprar ou Alugar</h2>
								<div class="travel-select-icon">
									<select name="cidade" class="form-control" id="cidadeSelecionada">
										<option value="default">Qualquer tipo</option><!-- /.option-->
										<option value="Manhuaçu">Manhuaçu</option><!-- /.option-->
										<option value="Simonesia">Simonésia</option><!-- /.option-->
										<option value="Caratinga">Caratinga</option><!-- /.option-->
									</select><!-- /.select-->
								</div><!-- /.travel-select-icon -->
								
							</div><!--/.single-tab-select-box-->
						</div><!--/.col-->








					<div class="clo-sm-7">
						<div class="filter-btn about-btn travel-mrt-0 pull-right">
							<button class="about-view travel-btn">
								Procurar	
							</button><!--/.travel-btn-->
						</div><!--/.about-btn-->
					</div><!--/.col-->
					
				</div><!--/.single-tab-select-box-->
			</div><!--/.col-->




					</div><!--/.row-->
				</div><!--/.tab-para-->
			</div><!--/.tabpannel-->
								</div><!--/.tab content-->
							</div><!--/.desc-tabs-->
        				</div><!--/.single-travel-box-->
        			</div><!--/.col-->
        		</div><!--/.row-->
        	</div><!--/.container-->

        </section><!--/.travel-box-->
		<!--travel-box end-->





		<!-- ***********Aqui que ficam os CARDS renderizados via JS/EJS -- packages start-->
		<section id="pack" class="packages">
			<div class="container">

				<div class="packages-content">
					<div class="row" >

						
						<% imoveis.forEach(function(imovel){ %>
						<!-- Por aqui eu chamo o modal quando clicamos em qualquer lugar do card e ainda envio as infs -->
						<div  
						data-toggle="modal" 
						data-target="#exampleModal" 
						data-imovelnome= " <%= imovel.nomeImovel %>"
						data-imovelId= " <%= imovel.id %> "
						data-imovelvalor=" <%= imovel.valor %> "
						
						class="cardsSelect col-md-4 col-sm-6 
						<%= imovel.cidade %>
						<%= imovel.bairro %>
						vagas<%= imovel.vagasGaragem %>
						quartos<%= imovel.quartos %>
						<%= imovel.valor %>
						default">


							<div class="single-package-item">

								<div class="imgPlace">
									<img style="height: 100%;" 
									src="uploads/<%= imovel.imgPath %>" 
									alt="package-place">
								</div>

								<div class="single-package-item-txt">
									<h3><%= imovel.nomeImovel %>
									<span class="pull-right">R$ <%= imovel.valor %>,00</span></h3>
									<div class="packages-para">
										<p>
											<span>
												<i class="fa fa-angle-right"></i> Cidade: <%= imovel.cidade %>
											</span>
											<i class="fa fa-angle-right"></i>  Bairro: <%= imovel.bairro %>
										</p>
										<p>
											<span>
												<i class="fa fa-angle-right"></i>  Quartos: <%= imovel.quartos %>
											</span>
											<i class="fa fa-angle-right"></i> Garagem: <%= imovel.vagasGaragem %> carros
										</p>
									</div><!--/.packages-para-->
									
									<div class="about-btn">
										
									</div><!--/.about-btn-->
								</div><!--/.single-package-item-txt-->
							</div><!--/.single-package-item-->

						</div><!--/.col-->
						<% }); %>



						
						




					</div><!--/.row-->
				</div><!--/.packages-content-->
			</div><!--/.container-->

		</section><!--/.packages-->
		<!--packages - Sessão de cards - end-->



	<!-- HTML do Modal -->
	<div 
	class="modal fade" 
	id="exampleModal" 
	tabindex="-1" 
	role="dialog" 
	aria-labelledby="exampleModalLabel" 
	aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">New message</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			<form>
				<div class="form-group">
				<label for="recipient-name" class="col-form-label">Recipient:</label>
				<input type="text" class="form-control" id="recipient-name">
				</div>
				<div class="form-group">
				<label for="message-text" class="col-form-label">Message:</label>
				<textarea class="form-control" id="message-text"></textarea>
				</div>
			</form>
			</div>
			<div class="modal-footer">
			<button class="btn book-btn" role="button" data-dismiss="modal" >Fechar</button>
			<button class="btn book-btn" role="button"> <a style="color: white;" href="https://wa.me/33984255959" target="_blank"> Contato </a> </button>
			</div>
		</div>
		</div>
	</div><!-- Fim Modal -->





		
		<!-- footer-copyright start -->
		<footer  class="footer-copyright">
			<div class="container">
				<div class="footer-content">
					<div class="row">

						<div class="col-sm-3">
							<div class="single-footer-item">
								<div class="footer-logo">
									<a href="index.html">
										Imobiliárias<span>minas</span>
									</a>
									<p>
										O melhor você encontra aqui
									</p>
								</div>
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item text-center">
								<h2 class="text-left">contactos</h2>
								<div class="single-footer-txt text-left">
									<p>(33) 3333-3333</p>
									<p class="foot-email"><a href="#">email@imobiliaria.com</a></p>
									<p>Manhuaçu</p>
									<p>Minas Gerais</p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

					</div><!--/.row-->

				</div><!--/.footer-content-->
				<hr>
				<div class="foot-icons ">
					<ul class="footer-social-links list-inline list-unstyled">
		                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
		        	</ul>
		        	<p>&copy; 2022 <a href="https://www.themesine.com">Site para teste de estrutura</a>. </p>

		        </div><!--/.foot-icons-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->





	</body>

</html>